.navbar__logo img {
  height: 1.75rem;
  width: auto;
}

:root {
  --ifm-color-primary: #ff2d6e;
  --ifm-color-primary-dark: #fa0050;
  --ifm-color-primary-darker: #f00050;
  --ifm-color-primary-darkest: #e30049;
  --ifm-color-primary-light: #ff5488;
  --ifm-color-primary-lighter: #ff6f99;
  --ifm-color-primary-lightest: #ffa0bf;
}
