node_modules
dist
docs-site/.docusaurus
docs-site/build
docs-site/node_modules
.nx
coverage
*.local
libs/empr/es/dist
libs/empr/es-lienzo/dist
libs/empr/es-sistema/dist
libs/empr/es-componente/dist
.npmrc
.agents
skills-lock.json